/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #1a0a0a; /* Less bright background color */
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    max-width: 1000px;
    margin: 50px auto;
    padding: 20px;
    background-color: #0c5b6bcf;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: larger;
    font-style: oblique;
}

.cover {

}

.input-container {
    flex: 0 0 40%; /* 40% width for the input container */
    padding-right: 90px; /* Add some space between input and map */
}

.info-container {
    flex: 1; /* Take up remaining space */
}

label {
    font-weight: bold;
    color: #333;
    display: block;
    font-weight: bold;
    font-size: medium;
    font-style: oblique;
    margin-bottom: 10px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    background-color: #8fd8ff;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
}

button {
    background-color: #3e83cc;
    color: #e49595;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    font-size: medium;
    font-style: oblique;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#ip-info {
    margin-top: 20px;
}
 
.map {
    height: 500px; /* Set a fixed height for the map */
    width: 100%; /* Occupy entire width *
 agntp 0x
